::ng-deep .mat-mdc-form-field {
  width: 100%;
}

::ng-deep .mat-mdc-text-field-wrapper {
  background-color: white;
}

::ng-deep .error-snackbar {
  background-color: #f44336 !important;
  color: white !important;
}

